.garamond {
font-family: Garamond, serif;
font-size:250%;
margin-left:30px;
width:60%;
}

#targeted {
  opacity: 0;
}


textarea {
  border:1px solid black;
}
/* textarea{
   font-size:18px;
    background: url(https://assets.codepen.io/1075762/codepen8.png);
background-attachment: local;
background-repeat: no-repeat;
padding-left: 53px;
padding-top: 15px;
    border-color:#ccc;
  background-size:38px;
}
 */
button {
    background-color: white;
  border: none;
}

:root {
    --dark-background-color: #111111;
    --dark-background-color-alt: #222222;
    --dark-trim-color: #333333;
    --dark-text-color: #eeeeee;
}

body {
    /* Light Theme */
    --background-color: #ffffff;
    --background-color-alt: #eeeeee;
    --trim-color: #dddddd;
    --text-color: #333333;
    
    --primary-color: #009578;
    --font-family: 'Quicksand', sans-serif;

    margin: 60px 0 0 0;
    color: var(--text-color);
    font-family: var(--font-family);
    background: var(--background-color);
}

body.theme-dark {
    --background-color: var(--dark-background-color);
    --background-color-alt: var(--dark-background-color-alt);
    --trim-color: var(--dark-trim-color);
    --text-color: var(--dark-text-color);
}

@media (prefers-color-scheme: dark) {
    body.theme-auto {
        --background-color: var(--dark-background-color);
        --background-color-alt: var(--dark-background-color-alt);
        --trim-color: var(--dark-trim-color);
        --text-color: var(--dark-text-color);
    }
}

.main {
    margin: 0 auto;
    max-width: 1000px;
    padding: 25px;
}

.main p {
    line-height: 1.6;
    font-weight: 500;
}



a:link {
  color: var(--text-color);
  text-decoration: none;
}

button {
   color: var(--text-color);
    font-family: var(--font-family);
    background: var(--background-color);
  
}


img {
    max-width: 80%;
    max-height: 80%;
    display:block;

}


tg  {border-collapse:collapse;border-spacing:0;}
.tg td{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  overflow:hidden;padding:10px 5px;word-break:normal;}
.tg th{border-color:black;border-style:solid;border-width:1px;font-family:Arial, sans-serif;font-size:14px;
  font-weight:normal;overflow:hidden;padding:10px 5px;word-break:normal;}
.tg .tg-dvpl{border-color:inherit;text-align:right;vertical-align:top}
.tg .tg-0pky{border-color:inherit;text-align:left;vertical-align:top}

.slide-container .prev,
.slide-container .next {
  cursor: pointer;
  position: absolute;
  top: 50%;
  width: auto;
  margin-top: -22px;
  padding: 16px;
  color: white;
  font-weight: bold;
  font-size: 20px;
  transition: all 0.6s ease;
  border-radius: 0 3px 3px 0;
  user-select: none;
}

.slide-container .prev:hover,
.slide-container .next:hover {
  background-color: rgba(0, 0, 0, 0.8);
  color: white;
}

.slide-container .prev {
  left: 2px;
}

.slide-container .next {
  right: 2px;
}

.dots-container {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px;
}

.dots-container .dot {
  cursor: pointer;
  margin: 5px;
  width: 20px;
  height: 20px;
  color: #333;
  border-radius: 50%;
  background-color: #dfd6ce;
}

.dots-container .dot.active {
  border: 2px solid green;
}

* {
  padding: 0;
  border: 0;
  box-sizing: border-box;
}

body {
  height: 100%;
/*   background-image: linear-gradient(to top, #accbee 0%, #e7f0fd 100%); */
}

body h1 {
  text-align: center;
}

.slide-container {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 1000px;
  margin: auto;
  position: relative;
}

.slide-container .slide {
  display: none;
  width: 100%;
}

.slide-container .slide.fade {
  animation: fade 0.5s cubic-bezier(0.55, 0.085, 0.68, 0.53) both;
}

.slide-container .slide img {
  width: 100%;
}



input[type="text"] {
  border-bottom: 2px solid #000000;
  font-size: 8px;
}

input[type="button"] {
  font-size: 16px;
  text-decoration: underline;
  color: #663366;
  background-color: white;
}







 table.chess { border: 1px solid black; margin: 2px; font-size: xx-large; display: inline-block;}
      table.chess td { width: 1.5em; height: 1.5em; padding: 0; margin: 1em; vertical-align: middle; text-align: center }
      table.chess tr td { background: #FFFFFF }
      table.chess tr:nth-child(odd) td:nth-child(even), table.chess tr:nth-child(even) td:nth-child(odd)  { background: #E5E7E9 }
    
#floatedTable {
  float:left;
  margin: 2px;
}


/*

 table.chess { border: 1px solid black; margin: 2px; font-size: xx-large}
      table.chess td { width: 1.5em; height: 1.5em; padding: 0; margin: 1em; vertical-align: middle; text-align: center }
      table.chess tr td { background: #F2E0CB }
      table.chess tr:nth-child(odd) td:nth-child(even), table.chess tr:nth-child(even) td:nth-child(odd)  { background: #C4AA8B }

*/

#outhtml{display: none;}
.input-group{display:none;}


#Selection {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}

#Summary {
  width: 100%;
  min-width: 15ch;
  max-width: 30ch;
  border: 1px solid;
  border-radius: 0.25em;
  padding: 0.25em 0.5em;
  cursor: pointer;
  line-height: 1.1;
  background-color: #fff;
  background-image: linear-gradient(to top, #f9f9f9, #fff 33%);
}


hr {
  border-bottom: 2px solid #ccc;
  margin: 20px 0;
  width: 79%;
}


.container1{
      display:flex;
      flex-wrap:wrap;
      flex-direction: column;
      justify-content: center;
      margin-left:176px;
    }

    #myBoard{
          width:400px;
    }

    footer{
          
          margin-top:20px;
          font-size: 15px;
          text-transform: none;
          text-align:center;
          ;
    }


#move_board {
font-size:18px;
width: 80px;
}


.highlight {
  background-color: yellow;
}

.header {
    display: flex;
    justify-content: space-between;
    box-sizing: border-box;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 60px;
    padding: 10px;
    background: var(--background-color-alt);
    border-bottom: 1px solid var(--trim-color);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.15);
}

.header__logo {
    height: 100%;
}

.header__button {
    background: none;
    border: none;
    outline: none;
}

.header > *:not(:last-child) {
    margin-right: 10px;
}

